body {
    padding: 0;
    margin: 0;
    background: #C5E1E4;
}

/* -- nav bar -- */

.navbar {
    background: #F4F2DD;
}

.navbar-nav > .nav-item {
    margin-right: 25px;
    margin-left: 25px;
}

.nav-link, .navbar-brand {
    color: #000000;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-line:hover {
    color:#000;
}

.navbar li{
    list-style-type: none;
}

.search {
    text-align: right;
}